@page "/"
@inject Services.StarSystemGeneratorService systemGen
@inject IModalService Modal

<button class="btn btn-primary" @onclick="@GenerateStarSystem">Generate Star System!</button>

<div style="display:flex; flex-direction:column">
    @if (starSystem == null)
    {
        <p>Generate star system!</p>
    }
    else
    {
        <h3>Designation: @starSystem.SystemStar.Name</h3>
        <button @onclick="@(()=> ShowExport())">Export</button>
        <ul>
            <li>Class: @starSystem.SystemStar.StarClass.Class</li>
            <li>Chromaticity: @starSystem.SystemStar.StarClass.Chromaticity</li>
            <li>Effecting Temp: @(starSystem.SystemStar.EffectiveTemp)K</li>
            <li>Stellar Mass: @starSystem.SystemStar.StellarMass</li>
        </ul>
        <p>Child Bodies</p>
        <table>
            <tr>
                <th>Details</th>
                <th>Name</th>
                <th>Tempature</th>
                <th>Atmosphere</th>
                <th>Biosphere</th>
                <th>Population</th>
                <th>Tech Level</th>
            </tr>
            @foreach (var cb in starSystem.SystemStar.ChildBodies)
            {
                if (cb is Models.Planet)
                {
                    var cp = (Models.Planet)cb;
                    <tr>
                        <td><button @onclick="@(()=> ShowPlanetModal(cp))">Details</button></td>
                        <td>@cp.Name</td>
                        <td>@cp.Tempature</td>
                        <td>@cp.Atmosphere.AtmosphereType</td>
                        <td>@cp.Biosphere</td>
                        <td>@cp.Population</td>
                        <td>@cp.TechLevel</td>
                    </tr>
                }

            }
        </table>
    }
</div>

@systemstring


@code {
    private Models.StarSystem starSystem = null;

    private string systemstring = "";
    private void GenerateStarSystem()
    {
        var sys = systemGen.GenerateStar().GenerateSystem().Build();

        //systemstring = sys.serialize();

        starSystem = sys;
    }

    private void ShowPlanetModal(Planet p)
    {
        Console.WriteLine(p.Name);

        var modalParameters = new ModalParameters();
        modalParameters.Add("PlanetInfo", p);
        Modal.Show(p.Name, typeof(Components.PlanetInfo), modalParameters);
    }

    private void ShowExport()
    {
        var modalParameters = new ModalParameters();
        modalParameters.Add("StarSystem", starSystem);
        Modal.Show("Export", typeof(Components.SystemExport), modalParameters);
    }

    protected override async Task OnInitAsync()
    {

    }
}